/*
 Student Name: Sara King
 File Name: styles.css
 Date Nov 13, 2024
 */

/* CSS Reset */

body,
header,
nav,
main,
footer,
img,
h1,
h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f8f7;
}

img {
    max-width: 100%;
    display: block;
}

.image-container {
    position: relative;
    display: inline-block
}

.image-container img {
    display: block;
    width: 100%;
    height: 100px;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    font-size: large;
    text-align: center;
}

.grid-gallery {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.grid-gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.centered-text {
    font-size: 24px;
    text-align: center;
    color: #333;
    line-height: 1.5;
    padding-bottom: 15px;
}

.text {
    font-size: 24px;
    color: #333;
    line-height: 1.5;
    padding-bottom: 15px;
}

/* Style rules for navigation area */

nav {
    background-color: #4477A6;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
    border-top: 0.5px solid #f6eee4;
}

nav li a {
    display: block;
    color: #f6eee4;
    padding: 0.5em 2em;
    text-decoration: none;
}


/* Style rules for main content */

main {
    padding: 2%;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}

main ul {
    list-style-type: square;
}

.link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

.round {
    border-radius: 6px;
}

#info ul {
    margin-left: 10%;
}

#contact {
    text-align: center;
}

.mobile h1 {
    font-family: "Emblema One", system-ui;
}

.mobile h3 {
    font-family: 'Lora', serif;
}


main {
    padding: 2%;
    font-family: Verdana, Arial, sans-serif;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}

main ul {
    list-style-type: square;
}

.link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

#contact {
    text-align: center;
}

.tel-link {
    background-color: #2a1f14;
    padding: 2%;
    width: 80%;
    margin: 0 auto;
}

.tel-link a {
    color: #f6eee4;
    text-decoration: none;
    font-weight: bold;
}

/* Style rules for footer content */

footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #4477A6;
    color: #f6eee4;
    padding: 1% 0;
}

footer a {
    color: #f3e6d8;
    text-decoration: none;
}


/* Style rules for header area */

.mobile h1,
.mobile h3 {
    padding: 2%;
    text-align: center;
}